body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
}

p{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.header{
    width: 100%;
    position: sticky;
}

.sticky{
    height: 100px;
    z-index: 99;
    position: fixed;
}

.header-img{
    background-repeat: repeat-x;
    background-size: cover;
}

.header-img img{
    width: 100%;
}

.btn-ham{
    top: 27%;
    position: absolute;
    cursor: pointer;
}

.btn-ham img{
    width: 3.5%;
    margin-left: 5%;
}

.btn-comprar{
    display: flex;
    top: 15%;
    justify-content: right;
    position: absolute;
}

.comprar,.ahora,.correo button{
    background: #FFE901;
    border: 8px solid #2982FF;
    box-shadow: 4px 5px 0px 0px #02187E;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 19px;
    color: #02187E;
}

.comprar{
    margin-right: 10%;
    width: 200px;
    height: 50px;
    border-radius: 111px;  
}

.ahora{
    width: 292px;
    height: 50px;
    border-radius: 111px;
}

.correo input{
    width: 562px;
    height: 82px;
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
    border: 9px, 0px, 9px, 9px;
    background-color: white;
    border: 8px solid #2982FF;
    box-shadow: 4px 5px 0px 0px #02187E;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 19px;
    color: #02187E;
}

.correo button{
    width: 218px;
    height: 100px;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
}

.main{
    top: -18px;
    position: relative;
}

.imagen-ciudad img{
    width: 100%;
}

#img-ciudad{
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: relative;
    z-index: -1;
    background-repeat: repeat-x;
    background-size: cover;
}


.imagen-spidey{
    display: flex;
    justify-content: center;
    top: 0;
    animation: fadeIn 3s ease-in;
}

.imagen-spidey img{
    width: 46%;
}

.layers{
    position: absolute;
    width: 100%;
}

.layer-bottom{
    bottom: 0;
}

.edificios-1{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.edificios-1 img{
    width: 42.4%;
}


.edificios-2{
    display: flex;
    left: 0;
}

.edificios-2 img{
    width: 32%;
}

.edificios-3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.edificios-3 img{
    width: 29%;
}

.ghost-spider{
    display: flex;
    justify-content: left;
    bottom: -4%;
    z-index: 1;
    margin-bottom: 2%;
}

.ghost-spider img{
    width: 28%;
    margin-left: 10%;
}

.spider-man{
    display: flex;
    justify-content: center;
    bottom: -5%;
    z-index: 1;
}

.animacion-spidey{
    animation: fadeIn 3s ease;
}

.telaranias-1{
    top: 38%;
    z-index: 1;
}

.telaranias-1 img{
    width: 45%;
}

.spider-man img{
    width: 36%;
}

.miles-morales{
    display: flex;
    justify-content: right;
    margin-bottom: 6%;
    margin-right: 15%;
    z-index: 1;
    right: 0;
}

.telaranias-2{
    display: flex;
    justify-content: right;
    overflow: hidden;
    z-index: 1;
    margin-left: 7%;
    margin-bottom: 4.6%;
}

.telaranias-2 img{
    width: 30%;
}

.miles-morales img{
    width: 31%;
}

.imagen-sticky img{
    width: 10%;
}

.imagen-sticky{
    position: fixed;
    z-index: 120;
    top: 2.5%;
}

@keyframes fadeIn{
    0%{opacity: 0;
       filter: blur(1px);
    }

    10%{
        opacity: 1;
    }

}

.imagen-ciudad{
    display: block;
    max-height: 720px;
    width: 100%;
    position: relative;
}

h1{
    font-size: 44px;
    line-height: 57px;
    margin: 0px;
    margin-bottom: 24px;
}

p{
    font-size: 16px;
    line-height: 24px;
}

.diagonal{
    z-index: 0;
    position: relative;
    background-color: rgb(143, 106, 166);
    height: 700px;
    width: 1515px;
    transform: perspective(900px) rotateY(-20deg);
    left: -476px;
}

.texto{
    width: 100%;
    position: relative;
    top: -550px;
    color: white;
    padding: 0px 5%;
    font-family: sans-serif;
}

.amigos .texto p{
    width: 45%;
    font-size: 20px;
    line-height: 24px;
}

.amigos .texto h1{
    width: 50%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
}

.duende-verde{
    display: flex;
    justify-content: right;
    bottom: 2%;
    z-index: 1;
}

.imagen-pelea{
    left: 5%;
    bottom: 3%;
}

.cards-seccion{
    margin-top: 5%;
    width: 100%;
    min-height: 700px;
}

.peter-card, .peter-texto{
    display: flex;
    position: relative;
    justify-content: left;
    margin-left: 6%;
}

.miles-card, .miles-texto{
    display: flex;
    position: relative;
    justify-content: center;
}

.gwen-card, .gwen-texto{
    display: flex;
    position: relative;
    justify-content: right;
    margin-right: 6%;
}


.peter-texto p, .miles-texto p, .gwen-texto p{
    width: 28%;
}

.peter-texto p, .miles-texto p, .gwen-texto p{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
} 

.cards-texto{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 23%;
}

.peter-oculto, .miles-oculto, .gwen-oculto{
    display: none;
}


.mostrar-peter{
    display: block;
    animation: fadeIn 1s;
}

.mostrar-miles{
    display: block;
    animation: fadeIn 3s;
}

.mostrar-gwen{
    display: block;
    animation: fadeIn 5s;
}

.amigos{
    min-height: fit-content;
    position: relative;
}

.ghost-seccion{
    width: 100%;
    height: fit-content;
    position: relative;
}

.imagenes-kart{
    position: absolute;
    top: -45%;
    left: 3%;
}

.imagenes-kart img{
    position: absolute;
}

.img-2 img{
    margin-top: 150px;
}

.img-3 img{
    margin-top: 390px;
}

.img-1, .img-2, .img-3, .img-1 img, .img-2 img, .img-3 img{
    transition: 0.5s ease-in-out;
    z-index: 0;
}

.img-1:hover, .img-2:hover, .img-3:hover{
    transform:translate3d(12px, 50%, 3em) scale3d(1.1, 1.1, 1.1);
    transition: 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
}


.img-1, .img-2, .img-3 {
    width: 100%;
}

.vengadores{
    position: relative;
}

.negro{
    background-color: black;
    z-index: -1;
    transform: perspective(1160px) rotateY(-10deg);
    top: -39px;
    left: -300px;
    height: 1000px;
}

.texto-veng h1{
    width: 52%;
    font-size: 60px;
    line-height: 65px;
}

.texto-veng{
    top: -800px;
}

.parque{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 520px;
}

.arboles{
    position: absolute;
}

.personajes{
    display: flex;
    justify-content: center;
    position: absolute;
}

.ms-marvel{
    position: relative;
    left: 250px;
    bottom: 100px;
}

.pantera-negra{
    position: relative;
    bottom: 250px;
    left: 100px;
}

.hulk{
    position: relative;
    right: 170px;
    top: 90px;
}

.ms-marvel:hover, .pantera-negra:hover, .hulk:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

.ms-marvel, .pantera-negra, .hulk{
    transition: 0.5s ease-out;
}

.pasto{
    z-index: 2;
}

.datos-juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.datos-juego h1{
    margin-left: 7%;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 57px;
}

.contenido-datos{
    display: grid;
    justify-items: center;
    grid-gap: 6%;
}

.contenido{
    display: flex;
    justify-content: center;
    width: 85%;
}

.contenido img{
    height: 300px;
    width: 550px;
    margin: 50px 50px 50px 0px;
}

.contenido-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contenido-texto h2{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 0;
}

.contenido-texto p{
    font-family: sans-serif;
    font-style: bold;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
}

.gran-poder{
    position: relative;
    top: 250px;
}

.gran-texto{
    padding: 0px 100px ;
    z-index:1;
    position: relative;
    top: 250px;
    color: white;
    width: 60%;
}

.gran-texto h1{
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
}

.diagonal-baja{
    z-index: 0;
    height: 350px;
    width: 1515px;
    transform: perspective(900px) rotateY(25deg);
    left: 100px;
    background-color: black;
}

.spiders-bajo{
    display: flex;
    position: relative;
    top: 350px;
    justify-content: center;
}

.miles img,.gwen img{
    height: 400px;
}

.peter img{
    height: 450px;
    margin: 0px -50px;
}

.footer-up{
    height: 1296px;
    position: relative;
    top: 400px;
}

.gradiente{
    height: 100%;
    background: linear-gradient(-180deg, #8FBEFC 21.2%, #F7E3D8 81.48%);
}

.acomodador{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1150px;
}

.up-contenido{
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bajo{
    width: 90%;
}

.bajo p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 79%;
    line-height: 19px;
}

.bajo span{
    cursor: pointer;
    text-decoration: underline;
}

.up-contenido h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 57px;
}

.footer-img{
    width: 100%;
}

.footer-med{
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 80px;
    background-color: #242424;
    position: relative;
    top: 396px;
}

.footer-med img{
    width: 1080px;
    height: 75px;
}

.footer-down{
    width: 1280px;
    height: 598px;
    background-color: #5E5E5D;
    position: relative;
    top: 396px;
    color: white;
    padding: 40px 100px;
} 

.footer-down div {
    width: 56%;
    font-family: sans-serif;
}

.footer-down div p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.footer-down div a{
    color: white;
}

.footer-down img{
    margin-top: 40px;
}
